@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .bg-gradient {
    /* background: linear-gradient(115deg, #000000, #414e00); */
    background: linear-gradient(115deg, #fdfcfb, #e2d1c3);
    /* background: linear-gradient(115deg, #ffffff, #dddddd); */
  }
  .bg-gradient-2 {
    background: linear-gradient(115deg, #000000, #444444);
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* margin: 0; */
  }
}